#gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonContainer,
#numberContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
  margin-top: 25em;
  flex-direction: column;
  margin-bottom: 25em;
}

#buttonContainer > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#buttonContainer > div > div {
  padding: 8px;
}
